Masukkan nama, asal kelas, berapa lama telah bekerja (tahun), 
jam kerja per bulan, apakah pernah kecelakaan, 
apakah gaji termasuk kecil, sedang atau besar, 
dan bagaimana responmu terhadap gaji tersebut 

maka hasil prediksi akan ditampilkan. 